
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Video>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "root.cshtml";
	var contentId = Model.Id;
    var videoRoot = Model.Value<MediaWithCrops>("videoRoot")?.MediaUrl();
}

<div style="display:flex">
    <div style></div>
    <div>@videoRoot</div>
</div>

<video id="my-video-split" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264">
</video>

@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

            var player = videojs('my-video-split', {
                html5: {
                    vhs: {
                        overrideNative: true,
                        smoothQualityChange: true,
                        useDevicePixelRatio: true,
                        maxPlaylistRetry: 5,
                        playlistExclusionDuration: 60,
                        experimentalBufferBasedABR: true,
                        bandwidthUpgradeTarget: 0.8,
                        bandwidthDowngradeTarget: 0.6
                    }
                }
            });

            var sourceUrl = '@videoRoot?res=auto';

            player.src({
                src: sourceUrl,
                type: 'application/x-mpegURL'
            });

            player.ready(function () {
                player.hlsQualitySelector({
                    displayCurrentQuality: true
                });
            });
        });
    </script>
}